{% extends "common/template.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/login.css') }}">
{% endblock %}

{% block content %}
<!-- Login Section-->
<section class="ftco-section masthead">
    <div class="container">
        <div class="row justify-content-center">
            {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% include "common/flash.html.twig" %}
            
            <div class="col-sm-7 col-md-8 col-lg-4">
                <div id="login" class="login-wrap bg-secondary py-3 shadow d-block">
                    <a href="index.html" class="d-flex align-items-center justify-content-center p-4">
                        <img src="assets/images/lunette.png" width="100%" alt="">
                    </a>
                    <h3 class="text-center mb-0" style="color: #fafafacc">Welcome</h3>
                    <p class="text-center" style="color: #fafafacc">Sign in by entering the information below</p>
                    <form method="post" class="login-form">
                        <div class="form-group">
                            <div class="icon d-flex align-items-center justify-content-center"><span
                                    class="fa fa-user"></span></div>
                            <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
                                class="form-control text-white rounded" placeholder="Username" autocomplete="username"
                                required autofocus>
                        </div>
                        <div class="form-group">
                            <div class="icon d-flex align-items-center justify-content-center"><span
                                    class="fa fa-lock"></span></div>
                            <input type="password" name="password" id="inputPassword"
                                class="form-control texte-white rounded" autocomplete="current-password"
                                placeholder="Password" required>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="d-flex justify-content-center pb-3">
                            <button type="submit" class="btn btn-login load mx-3 shadow-lg my-auto">Get
                                Started
                            </button>
                        </div>
                        <div class="w-100 text-center">
                            <a href="{{ path('app_forgotten_password') }}">Forgot password?</a>
                        </div>
                    </form>
                    <div class="w-100 text-center mt-4 text">
                        <p class="mb-0 text-white">Don't have an account?</p>
                        <a href="{{ path('app_register') }}" id="signup">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
