<!-- Footer-->
<footer class="footer text-center">
    <div class="container mb-5">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Sitemap</h4>
                <ul class="list-unstyled">
                    <li class="lead mb-0">
                        <a class="nav-link text-white rounded" href="{{ path('home.index') }}">Home</a>
                    </li>
                    <li class="lead mb-0">
                        <a class="nav-link text-white rounded" href="{{ path('app_register') }}">Sign up</a>
                    </li>
                    {% if app.user %}
                    <li class="lead mb-0">
                        <a class="nav-link text-white rounded" href="{{ path('app_logout') }}">Sign out</a>
                    </li>
                    {% else %}
                    <li class="lead mb-0">
                        <a class="nav-link text-white rounded" href="{{ path('app_login') }}">Sign in</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="www.facebook.fr"><i
                        class="fab fa-fw fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="www.twitter.fr"><i
                        class="fab fa-fw fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="www.linkedin.fr"><i
                        class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="www.dribble.fr"><i
                        class="fab fa-fw fa-dribbble"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <a href="index.html">
                    <img src="{{ asset('assets/images/snowtricks-logo.png') }}" height="150" alt="navbar-logo">
                </a>
                <p class="lead mb-0">
                    Share your snowboarding tricks experience by posting comments, photos and videos.
                </p>
            </div>
        </div>
    </div>
    <!-- Copyright Section-->
    <div class="copyright py-2 px-auto m-0 text-center text-white">
        <div class="container">Copyright &copy; SnowTricks Project 6 | Designed by If-web-dev</div>
    </div>
    <!-- Mobile nav-->
</footer>
</body>

</html>